<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFFINE</title>
</head>
<body>
    {% include 'components/header.html' %}
    <h1>Affine</h1>

    <form action="{{ url_for('affine')}}" method="POST" enctype="multipart/form-data">
        <div style="display: flex; flex-direction: column;">
            {% include 'components/operation.html' %}
            {% include 'components/input-msg.html' %}
            <div>
                <label for="key_m">Key M</label>
                <input type="text" name="key_m" id="key_m">
                <label for="key_b">Key B</label>
                <input type="text" name="key_b" id="key_b">
            </div>
            <div>
                <label for="type_char">Type of Character</label>
                <input type="radio" id="alpha" name="type_char" value="alpha" checked>
                <label for="encrypt">Alphabet</label>
                <input type="radio" id="byte" name="type_char" value="byte">
                <label for="decrypt">Byte</label>
            </div>

            <input type="submit" value="Submit">
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>