<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAYFAIR</title>
</head>
<body>
    {% include 'components/header.html' %}
    <h1>Playfair</h1>

    <form action="{{ url_for('playfair')}}" method="POST" enctype="multipart/form-data">
        <div style="display: flex; flex-direction: column;">
            {% include 'components/operation.html' %}
            {% include 'components/input-msg.html' %}
            <div>
                <label for="key">Key</label>
                <input type="text" name="key" id="key">
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>