<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playfair Cipher</title>
    <link rel="icon" href="/static/img/cipher.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    {% include 'components/header.html' %}
    <h1>Playfair Cipher</h1>

    <div class="input">
        <h3>INPUT</h3>
        <hr />
        
        <form action="{{ url_for('playfair')}}" method="POST" enctype="multipart/form-data">
            <div style="display: flex; flex-direction: column; row-gap: 16px;">
                {% include 'components/operation.html' %}
                {% include 'components/input-msg.html' %}
                <div>
                    <h4>Key</h4>
                    <input type="text" name="key" id="key" style="width: 100%; border-radius: 10px; padding: 8px;">
                </div>
                <input type="submit" value="Submit" class="button">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul style="list-style-type: none; text-align: center; padding: 0">
                            {% for message in messages %}
                                {% if message|length > 100 %}
                                    <li>{{ message[:100] }}...</li>
                                {% else %}
                                    <li>{{ message }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>

    {% if result %}
        <div class="output">
            <h3>OUTPUT</h3>
            <hr />
            {% include 'components/show-style.html' %}
            <div style="display: flex; flex-direction: column; row-gap: 16px;">
                <div>
                    <div id="without-space-result" class="show-result" style="word-break: break-all;">
                        <p>{{ result }}</p>
                    </div>
                    <div id="group-of-5-result" class="show-result" style="display: none;">
                        <p>
                            {% for i in range(0, result|length, 5) %}
                                {{ result[i:i+5] }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; margin-top: 16px;">
                <a href="{{ url_for('display_output', filename=filename) }}" download>
                    <button class="button">
                        <i class="fa fa-download"></i>
                        Download Result
                    </button>
                </a>
            </div>
    {% endif %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>