<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIGENERE</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Vigenere</h1>

    <form action="{{ url_for('vigenere')}}" method="POST" enctype="multipart/form-data">
        <div style="display: flex; flex-direction: column;">
            <div>
                <label for="type">Type of Vigenere Cipher</label>
                <input type="radio" id="standard" name="type" value="standard" checked>
                <label for="standard">Standard</label>
                <input type="radio" id="autokey" name="type" value="autokey">
                <label for="autokey">Autokey</label>
                <input type="radio" id="extended" name="type" value="extended">
                <label for="extended">Extended</label>
            </div>
            <div>
                <label for="operation">Operation</label>
                <input type="radio" id="encrypt" name="operation" value="encrypt" checked>
                <label for="encrypt">Encrypt</label>
                <input type="radio" id="decrypt" name="operation" value="decrypt">
                <label for="decrypt">Decrypt</label>
            </div>
            <div>
                <label for="input_method">Input Method</label>
                <input type="radio" id="file" name="input_method" value="file" checked>
                <label for="file">File</label>
                <input type="radio" id="manual" name="input_method" value="manual">
                <label for="manual">Manual</label>
            </div>

            <div id="msg-container">
                <label id="msg-label" for="msg">Plaintext</label>
                <input type="file" name="msg" id="msg-file">
                <textarea name="msg" id="msg-text" style="display: none;"></textarea>
            </div>

            <div>
                <label for="key">Key</label>
                <input type="text" name="key" id="key">
            </div>

            <input type="submit" value="Submit">
        </div>
    </form>

    <script>
        const type = document.getElementsByName('type');
        const operation = document.getElementsByName('operation');
        const input_method = document.getElementsByName('input_method');
        const file_upload = document.getElementById('file_upload_container');
        const manual_input = document.getElementById('manual_input_container');

        // chage msg type based on input method
        input_method.forEach((im) => {
            im.addEventListener('change', () => {
                const msg_file = document.getElementById('msg-file');
                const msg_text = document.getElementById('msg-text');
                if (im.value === 'file') {
                    msg_file.style.display = 'block';
                    msg_text.style.display = 'none';
                } else {
                    msg_file.style.display = 'none';
                    msg_text.style.display = 'block';
                }
            });
        });

        // change msg label to plaintext or ciphertext, if operation is encrypt or decrypt
        operation.forEach((op) => {
            op.addEventListener('change', () => {
                const msg_label = document.getElementById('msg-label');
                msg_label.innerText = op.value === 'encrypt' ? 'Plaintext' : 'Ciphertext';
            });
        });

        // if type is standard or autokey, uploaded file is only .txt, else all
        type.forEach((t) => {
            t.addEventListener('change', () => {
                const msg_file = document.getElementById('msg-file');
                if (t.value === 'standard' || t.value === 'autokey') {
                    msg_file.accept = '.txt';
                } else {
                    msg_file.accept = '*';
                }
            });
        });


    </script>
</body>
</html>