<div style="margin-bottom: 8px;">
    <div>
        <h4>Input Method</h4>
    </div>
    <div style="display: flex; column-gap: 16px;">
        <div class="input-method-item">
            <input type="radio" id="file" name="input_method" value="file">
            <label for="file">Upload File</label>
        </div>
        <div class="input-method-item">    
            <input type="radio" id="manual" name="input_method" value="manual" checked>
            <label for="manual">Manual Type</label>
        </div>
    </div>
</div>
<div id="msg-container">
    <h4 class="form-label" id="msg-label" for="msg">Plaintext</h4>
    <input class="form-control" type="file" name="msg" id="msg-file" style="display: none;">
    <textarea name="msg" id="msg-text"></textarea>
</div>